apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: finlab
spec:
  selector:
    app: auth-service
  ports:
    - port: {{ .Values.authService.port }}
      targetPort: {{ .Values.authService.port }}
  type: ClusterIP
